<div class="mt-5 signup-form">
<h1 class="text-center">Sign Up</h1>
<form style="margin: 0 auto; max-width: 65%" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col-6">
      <div class="mb-3 mt-3">
       <label for="" class="form-label">Email Address</label>
       <input type="email" class="form-control" id="email" formControlName="email">
      </div>
    </div>
  </div>
<div class="row">
  <div class="col-6">
    <label for="" class="form-label">First Name</label>
    <input type="text" class="form-control" id="first_name" formControlName="first_name">
  </div>
  <div class="col-6">
    <label for="" class="form-label">Last Name</label>
    <input type="text" class="form-control" id="last_name" formControlName="last_name">
  </div>
</div>

<div class="col-6">
  <div class="mt-3">
  <label for="" class="form-label">Phone</label>
  <input type="text" class="form-control" id="phone" formControlName="phone">
</div>
</div>

<div class="row">
  <div class="mt-3">
  <div class="col-6">
        <label for="" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" formControlName="password">
  </div>
</div>
</div>
<div class="text-center">
  <div class="mt-3">
  <button class="btn btn-success" type="submit">Sign Up</button>
</div>
</div>
<div class="mt-3">
<div class="p text-center bottom-text">I already have an account. <a routerLink="/login">Login</a></div>
</div>
</form>
