<main>
  <div class="round-background">
    <h1 class="text-center">Recent Rounds</h1>
    <div class="row">
      <!-- Round card -->
      <div class="col-6 md-6 round-card">
        <div class="row">
          <div class="col">
            <!-- Course and Date -->
            <div class="d-flex mb-2 round-text">
              <div class="me-5">
                <strong>Course:</strong>
              </div>
              <div>
                <strong>Date:</strong>
              </div>
            </div>
            <!-- Score and Putts -->
            <div class="d-flex mb-2 round-text">
              <div class="me-5">
                <strong>Score:</strong>
              </div>
              <div>
                <strong>Putts:</strong>
              </div>
            </div>
            <!-- Fairways Hit and Greens in Regulation -->
            <div class="d-flex mb-2 round-text">
              <div class="me-5">
                <strong>FiR:</strong>
              </div>
              <div>
                <strong>GiR:</strong>
              </div>
            </div>
            <!-- Bogeys and Pars -->
            <div class="d-flex mb-2 round-text">
              <div class="me-5">
                <strong>Bogeys:</strong>
              </div>
              <div>
                <strong>Pars:</strong>
              </div>
            </div>
            <!-- Birdies and Eagles -->
            <div class="d-flex mb-2 round-text">
              <div class="me-5">
                <strong>Birdies:</strong>
              </div>
              <div>
                <strong>Eagles:</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
